# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Logs
*.log

# Environment
.env

# Testing
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Build
dist/
build/
*.egg-info/

# Mypy
.mypy_cache/
